* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.from-control:focus {
  box-shadow: none !important;
  border-color: inherit !important;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.button {
  background: var(--color-232f3e);
  color: #fff;
  font-size: 14px;
  padding: 13px 33px;
  text-transform: uppercase;
  border-radius: 20px;
  transition: all 0.5s;
}
.button:hover {
  background: var(--color-febd69);
  color: var(--color-131921);
}
.card-wrapper {
  background: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.section-heading {
  font-size: 26px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 30px;
}
/*======================== header part ========================= */
.header-top-strip {
  background: var(--color-131921);
  border: 1px solid var(--color-3b4149);
}
.header-upper {
  background: var(--color-131921);
}
.header-upper h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}
.header-upper .input-group-text {
  background: var(--color-febd69);
  cursor: pointer;
}
.header-upper .header-upper-links img {
  width: 35px;
  height: 35px;
}
.header-upper .header-upper-links p {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}
.header-bottom {
  background: var(--color-232f3e);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown .dropdown-menu {
  background: var(--color-131921);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown .dropdown-item {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3;
  transition: all 0.5s;
  border-bottom: 1px solid var(--color-3b4149);
}
.header-bottom .dropdown .dropdown-item:hover {
  background: transparent;
  color: var(--color-febd69) !important;
}
/* =================Header Part End  ====================*/

/* =================Footer Part start  ==================*/
footer {
  background: var(--color-232f3e);
}
footer h4 {
  font-size: 18px;
  line-height: 25px;
}
footer .footer-links a,
footer address {
  font-size: 13px;
  line-height: 25px;
  transition: all 0.5s;
  color: #fff;
}
.social-icons a {
  color: white;
  font-size: 20px;
  transition: all 0.5s;
}
.social-icons a:hover {
  color: var(--color-febd69);
}
footer .footer-links a:hover {
  color: var(--color-febd69);
}
footer:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .input-group-text {
  background: var(--color-232f3e);
  color: white;
  /* padding: 8px 11px; */
  text-transform: uppercase;
  transition: all 0.5s;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
}
footer .input-group-text:hover {
  background: var(--color-febd69);
}
/* ================Footer Part End  =============*/

/* ==============home pages  =============*/
.main-banner-content {
  top: 15%;
  left: 5%;
}
.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 12px;
  letter-spacing: 0.3;
  color: var(--color-bf4800);
}
.main-banner-content h5 {
  font-size: 52px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
  letter-spacing: -2;
}
.main-banner-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
.small-banner {
  width: 49%;
}
.small-banner-content {
  top: 25%;
  left: 10%;
}
.small-banner-content h4 {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 12px;
  letter-spacing: 0.3;
  color: var(--color-bf4800);
}
.small-banner-content h5 {
  font-size: 19px;
  font-weight: 500;
  line-height: 1.5;
  padding: 0;
  letter-spacing: -2;
}
.small-banner-content p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4;
  color: var(--color-131921);
}
/* ============== home-wrraper-2 ================*/
.home-wrapper-2 {
  background: var(--color-f5f5f7);
}
/* categories */

.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--color-ededed);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--color-ededed);
}
/* categories end */

/* =============home-wrraper-2 end ================*/

/* home pages end  */

/* =============BLog ================== */
.blog-card {
  background: white;
  border-radius: 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: contain;
}
.blog-content {
  padding: 15px;
}
.blog-content.date {
  font-size: 13px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}
.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}
.blog-content p.desc {
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-777777);
}
/* ================BLog end============== */

/* ================Featured Collection ============== */
.product-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.product-card .product-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin: 0 0 14px;
}
.product-card .product-img {
  height: 270px;
}
.product-card .product-img img {
  object-fit: contain;
}
.product-card .product-img > img:last-child {
  display: none;
}
.product-card:hover .product-img > img:nth-child(1) {
  display: none;
}
.product-card:hover .product-img > img:last-child {
  display: block;
}

.product-card:hover .action-bar {
  right: 10px;
}
.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-style: 13px;
}
.product-card .product-details h5 {
  color: var(--color-1c1c1b);
  font-style: 15px;
}
.product-card .product-details p.price {
  color: var(--color-1c1c1b);
  font-style: 16px;
}
.wishlist-icon {
  top: 3%;
  right: 10px;
}
.action-bar {
  top: 10%;
  right: -23px;
  transition: all 0.3s;
}
/* ================Featured Collection end============== */

/* ================Special Products ============== */

.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background: white;
}
.special-product-card .badge {
  background: #ef3939 !important;
}
.special-product-card .special-product-content .title {
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
  letter-spacing: 0.3px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin: 0 0 14px;
}
.special-product-card .special-product-content .brand {
  color: #bf4800;
  line-height: 24px;
  font-weight: 400;
  margin: 0 0 12px;
  opacity: 1;
  font-size: 13px;
}
/* ================Special Products end============== */
/* ================famous Products ============== */

.famous-card .famous-card-content {
  top: 10%;
  left: 10%;
}
.famous-card img {
  border-radius: 10px;
}

.famous-card .famous-card-content h5 {
  color: white;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 7px;
}
.famous-card .famous-card-content h6 {
  color: white;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}
.famous-card .famous-card-content p {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 100;
}

/* ================famous Products end============== */
/* ================Our Store============== */
.filter-card {
  background: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-title {
  color: var(--color-1c1c1b);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  cursor: pointer;
  color: var(--color-777777);
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  /* background: var(--color-febd69); */
  border-color: var(--color-febd69);
}
.sub-title {
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  line-height: 28px;
}

.filter-card .form-floating > label {
  font-size: 12px;
}
.filter-card .form-control {
  height: 40px;
}
.filter-card .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.colors {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-wrap: wrap;
}
.colors li {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}

.product-tags span {
  line-height: 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
}
.random-products:first-child {
  border-bottom: 1px solid var(--color-ededed);
}
.random-products h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 15px;
}
.filter-sort-grid {
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.grid img {
  width: 34px;
  height: 34px;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.products-list .col-12 .product-card {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-card .disc {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  display: none;
  color: #777777;
}
.products-list .col-12 .product-card .disc {
  display: block;
}
.products-list .col-12 .product-card .action-bar {
  top: 15%;
}
.products-list .col-12 .product-card .product-img {
  width: 25%;
}
.products-list .col-12 .product-card .product-details {
  width: 75%;
  overflow: hidden;
}
.products-list .product-img {
  height: auto;
}
/* -----------------------------------
* product action bar change for 12 grid
 */

.products-list .col-12 .product-card:hover .action-bar {
  left: 23%;
}

.products-list .col-12 .product-card .wishlist-icon {
  top: 5%;
  left: 23%;
}
.products-list .col-12 .product-card .action-bar {
  right: -23px;
  transition: all 0.3s;
}

/* ================Our Store end============== */
/* ================Contact start============== */
.contact-inner-wrapper {
  background: white;
  border-radius: 15px;
  padding: 20px;
  gap: 15px;
}
.contact-inner-wrapper .contact-title {
  font-size: 26px;
  line-height: 35px;
  color: #1c1b1b;
}
.contact-inner-wrapper form .form-control {
  background: var(--color-f5f5f7);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper form .form-control:focus {
  box-shadow: none;
}
.contact-inner-wrapper form .form-floating label {
  font-size: 14px;
  color: var(--color-777777);
  letter-spacing: 0.1rem;
  line-height: 24px;
}
.contact-inner-wrapper ul li,
.contact-inner-wrapper ul li a {
  font-size: 13px;
  color: var(--color-777777);
  line-height: 22px;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
/* ================Contact end============== */

/* ================Compare ,Wishlist Product start============== */
.compare-product-card,
.wishlist-card {
  padding: 20px 15px;
  background: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  top: 15px;
  right: 15px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
.compare-product-details .title,
.wishlist-card .title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-details .price,
.wishlist-card .price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
}
.compare-product-card .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid var(--color-f5f5f7);
}
.compare-product-card .product-details h5 {
  font-size: 15px;
  line-height: 22px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-1c1c1b);
}
.compare-product-card .product-details p {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: var(--color-777777);
}
/* ================Compare ,Wishlist Product end============== */
/* ================login Start============== */
.auth-card {
  padding: 20px;
  background: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  line-height: 25px;
  font-weight: 500;
  color: var(--color-777777);
}
.auth-card label {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-777777);
}
.auth-card .forgote-link {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #1c1b1b;
}
.auth-card .form-control {
  background: var(--color-ededed);
  border: 0;
  height: 50px;
}
.auth-card .form-control:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.auth-card .signup {
  background: var(--color-febd69);
  color: var(--color-1c1c1b);
  transition: all 0.5s;
}
.auth-card .signup:hover {
  background: var(--color-1c1c1b);
  color: white;
}
/* ================wishlist Product end============== */
